<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxx.back.dao.GoodsDao">
  <resultMap id="BaseResultMap" type="com.gxx.back.bean.Goods">
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="sort_id" jdbcType="INTEGER" property="sortId" />
    <result column="sort_name" jdbcType="VARCHAR" property="sortName" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="user_realname" jdbcType="INTEGER" property="creatorName" />
  </resultMap>
  <select id="getGoodsList" resultMap="BaseResultMap">
    select g.goods_id,g.goods_name,g.brand_id,b.brand_name,g.sort_id,s.sort_name,g.create_time,u.user_realname from goods g
    left join brand b on g.brand_id = b.brand_id
    left join sort s on g.sort_id = s.sort_id
    left join user u on g.creator = u.user_id
  </select>
  <delete id="deleteGoods" parameterType="java.lang.Integer">
    delete from goods where goods_id = #{goodsId}
  </delete>
  <insert id="addGoods" parameterType="com.gxx.back.bean.Goods">
    insert into goods (goods_name,sort_id,brand_id,create_time,creator)
    values(#{goodsName},#{sortId},#{brandId},#{createTime},#{creator})
  </insert>
  <select id="brandExit" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from goods where brand_id = #{brandId}
  </select>
  <update id="updateGoods" parameterType="com.gxx.back.bean.Goods">
    update goods set goods_name = #{goodsName},brand_id = #{brandId},sort_id = #{sortId}
    where goods_id = #{goodsId}
  </update>
  <select id="brandExitWithoutIt" resultType="java.lang.Integer">
    select count(*) from goods where brand_id = #{brandId} and goods_id != #{goodsId}
  </select>
</mapper>
