<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxx.back.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.gxx.back.bean.User">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_realname" jdbcType="VARCHAR" property="userRealName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassWord"/>
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>
  <select id="getUserLoginInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select user_name,user_password,level  from user
    where user_name=#{userName} and state = 0
  </select>
  <select id="getUserInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select user_id,user_name,user_realname,mobile,state,level from user where user_name=#{userName}
  </select>
  <select id="getUserList" resultMap="BaseResultMap">
    select user_id,user_name,user_realname,mobile,state,level,create_time,update_time from user
  </select>
  <update id="updateUserState">
    update user set state = #{state},update_time = #{updateTime} where user_id = #{userId}
  </update>
  <update id="updateUserLevel">
    update user set level = #{level},update_time = #{updateTime} where user_id = #{userId}
  </update>
  <delete id="deleteUser" parameterType="java.lang.Integer">
    delete from user where user_id = #{userId}
  </delete>
  <delete id="deleteUserRole" parameterType="java.lang.Integer">
    delete from user_role where user_id = #{userId}
  </delete>
  <insert id="addUser" parameterType="com.gxx.back.bean.User"  useGeneratedKeys="true" keyProperty="userId">
    insert into user (user_name,user_realname,user_password,mobile,state,create_time,level)
    values (#{userName},#{userRealName},#{userPassWord},#{mobile},#{state},#{createTime},#{level})
  </insert>
  <insert id="addUserRole">
    insert into user_role (user_id,role_id) values(#{userId},#{roleId})
  </insert>
  <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select user_id,user_name,user_realname,mobile,state,level from user where user_id=#{userId}
  </select>
  <update id="updateUser" parameterType="com.gxx.back.bean.User">
    update user set user_name = #{userName},user_realname = #{userRealName},mobile = #{mobile},update_time = #{updateTime}
    where user_id = #{userId}
  </update>
</mapper>